<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  <title>TicketZone</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="ticket">
  <div class="perforation"></div>
  <div class="ticket-content">
    <div class="header">
      <h1>TicketZone</h1>
    </div>
    <div class="info">
      <p class="message">Welcome, please select a login method</p>
    </div>
    <div class="barcode"></div>
  </div>

  <div class="button-container">
    <a th:href="@{/login}" class="roll-button"><span>Login</span></a>
    <a th:href="@{/register}" class="roll-button"><span>Register</span></a>
  </div>

  <div class="perforation"></div>
</div>
</body>
</html>
